{# Usage:
    <twig:grinway:alert alert_type="" size="" alert_alignment="" alert_position="" alert:ATTRIBUTE="">
	    CONTENT
	</twig:grinway:alert>
#}

{%- props
	alert_type = 'primary',
	alert_size = 'sm',
	alert_alignment = 'left',
	alert_position = 'normal',
	
	alert_init_shown = "true",
	alert_will_leave = "false",
	alert_remove_after_leave = "true",
	alert_style = 'fade',
	alert_disappear_in_ms = 10000,
-%}
{%- set nestedAlertName = 'alert' -%}
{%- set base = 'alert my-0' -%}
{% set class = cva({
	base,
	variants: {
		alert_type: {
			primary: 'alert-primary',
			secondary: 'alert-secondary',
			success: 'alert-success',
			danger: 'alert-danger',
			warning: 'alert-warning',
			info: 'alert-info',
			light: 'alert-light',
			dark: 'alert-dark',
		},
		alert_alignment: {
			left: 'text-left',
			center: 'text-center',
			right: 'text-right',
		},
		alert_size: {
			lg: 'font-size-lg',
			md: 'font-size-md',
			sm: 'small',
			normal: '',
		},
		alert_position: {
			top: 'position-absolute top-0 start-0 end-0',
			sticky: 'position-sticky top-0 start-0 end-0',
			normal: '',
		},
	},
	compoundVariants: [
		{
			alert_type: ['danger', 'warning'],
			class: 'h5',
		},
		{
			alert_size: ['sm'],
			class: 'p-2',
		},
	],
}) %}

<div
	class="{{- class.apply({alert_type, alert_size, alert_alignment, alert_position}, attributes.nested(nestedAlertName).render('class')) -}}"
	{{ attributes.nested(nestedAlertName).defaults({
		role: 'alert',
		'data-controller': 'grinway--transition',
		'data-grinway--transition-init-shown-value': alert_init_shown,
		'data-grinway--transition-style-value': alert_style,
		'data-grinway--transition-disappear-in-ms-value': alert_disappear_in_ms,
		'data-grinway--transition-will-leave-value': alert_will_leave,
		'data-grinway--transition-remove-after-leave-value': alert_remove_after_leave,
	}) }}
>
	{%- block content -%}
		EMPTY ALERT
	{%- endblock content -%}
</div>