{# Usage:
    <twig:grinway:alert alert_type="" size="" alert_alignment="" alert_position="" alert:ATTRIBUTE="">
	    CONTENT
	</twig:grinway:alert>
#}

{%- props alert_type = 'primary', alert_size = 'sm', alert_alignment = 'left', alert_position = 'normal' -%}
{%- set nestedAlertName = 'alert' -%}
{%- set base = 'alert my-0' -%}
{% set class = cva({
	base,
	variants: {
		alert_type: {
			primary: 'alert-primary',
			secondary: 'alert-secondary',
			success: 'alert-success',
			danger: 'alert-danger',
			warning: 'alert-warning',
			info: 'alert-info',
			light: 'alert-light',
			dark: 'alert-dark',
		},
		alert_alignment: {
			left: 'text-left',
			center: 'text-center',
			right: 'text-right',
		},
		alert_size: {
			lg: 'font-size-lg',
			md: 'font-size-md',
			sm: 'small',
			normal: '',
		},
		alert_position: {
			top: 'position-absolute top-0 start-0 end-0',
			sticky: 'position-sticky top-0 start-0 end-0',
			normal: '',
		},
	},
	compoundVariants: [
		{
			alert_type: ['danger', 'warning'],
			class: 'h5',
		},
		{
			alert_size: ['sm'],
			class: 'p-2',
		},
	],
}) %}

<div {{ attributes.nested(nestedAlertName).defaults({ role: 'alert' }) }} class="{{- class.apply({alert_type, alert_size, alert_alignment, alert_position}, attributes.nested(nestedAlertName).render('class')) -}}">
	{%- block content -%}
		EMPTY ALERT
	{%- endblock content -%}
</div>