{# FUNCTIONS #}

{%- block attr -%}
	{{- attr|map((v, k) => "#{k}=\"#{v}\"")|join(' ')|raw -}}
{%- endblock -%}

{%- block child_is_hidden -%}
	{{- child.vars.name matches '~^_~' -}}
{%- endblock -%}

{%- block immutable -%}
	<div class="m-1 p-1 bg-warning rounded-2 text-dark">
		{{ value }}
	</div>
{%- endblock -%}