<form method="post" action="{{ path('app_easy_admin_cinema_delete', {'id': app_easy_admin_cinema.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app_easy_admin_cinema.id) }}">
    <button class="btn">Delete</button>
</form>
