{% extends 'base.html.twig' %}

{% block title %}Edit AppEasyAdminCinema{% endblock %}

{% block body %}
    <h1>Edit AppEasyAdminCinema</h1>

    {{ include('app_easy_admin_cinema/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_easy_admin_cinema_index') }}">back to list</a>

    {{ include('app_easy_admin_cinema/_delete_form.html.twig') }}
{% endblock %}
