{% extends 'base.html.twig' %}

{% block title %}Success login!{% endblock %}

{% block body %}
    <div class="">
		{{ app.user ? 'success log in: "' ~ app.user.userIdentifier ~ '"': 'NO USER' }}
	</div>
{% endblock %}
