<span class="row flex-row flex-nowrap g-012">
	<span class="col">
		<span class="rounded-circle bg-white d-block" style="width: 4px; height: 4px;"></span>
	</span>
	
	<span class="col">
		<span class="rounded-circle bg-white d-block" style="width: 4px; height: 4px;"></span>
	</span>
	
	<span class="col">
		<span class="rounded-circle bg-white d-block" style="width: 4px; height: 4px;"></span>
	</span>
</span>