.swiper-img-slide {
	height: 100px;
}

@media screen and (min-width: 320px) {
	.swiper-img-slide {
		height: 300px;
	}
}

@media screen and (min-width: 900px) {
	.swiper-img-slide {
		height: 500px;
	}
}