{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        It's a pure docker symfony project
    </div>
    <div class="">
        {{ dump(film|default('null')) }}
    </div>
{% endblock %}
