{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div
            {{ turbo_stream_listen('test') }}
            class="test fs-5 font-monospace mark d-inline p-2 rounded-3"
    >
        {{ symfony_version }}
    </div>
{% endblock %}
