{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div
            {{ turbo_stream_listen('test') }}
            class="test"
    >
        {{ symfony_version }}
    </div>
{% endblock %}
