{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' Home' }} 
	{%- block home_title -%}
	{%- endblock -%}
{% endblock %}

{% block body %}
	<div class="">
		{{- block('title')|upper -}}
	</div>
	
	{% block home_body %}
		<ul>
			{% for item in 1..10 %}
				{% block li_item %}
					<li>
						User id: {{ item }}
					</li>
				{% endblock li_item %}
			{% endfor %}
		</ul>
	{% endblock home_body %}
	
{% endblock body %}
