<div>
	{% set filepath = entity.filepath|default('default.png') %}
	
	<h1>Show entity with id: {{ entity.id }}</h1>	

	<label>
		<h5>Origin img</h5>
		<img
			style="width: 200px"
			src="{{- asset(app_public_img_dir~'/'~filepath) -}}"
			alt="filepath"
		>
	</label>
	
	{% if is_cropped_version_exist|default(false) %}
		<label>
			<h5>Cropped img</h5>
			<img
				style="width: 200px"
				src="{{- asset(app_public_cropped_img_dir~'/'~filepath)~'?'~entity.fileVersion -}}"
				alt="filepath"
			>
		</label>
	{% endif %}
</div>