{% extends 'base.html.twig' %}

{% block body %}
	<div class="">STATIC PAGE</div>
	<br>
	
	{% set default = null %}
	{% set default = "placeholder/_success_placeholder.html.twig" %}
	{% set default = "Loading..." %}
	
	{{ render_hinclude(controller(
		'App\\Controller\\HomeController::recentBlogs',
		{max: 100},
	), {default, attributes: {'data-with-credentials': 'true'}}) }}

	<div class="">
		<div class="">Route parameters</div>
		<div class="">{{ dump(app.current_route_parameters) }}</div>
		<div class="">Context</div>
		<div class="">{{ dump(_context) }}</div>
	</div>
{% endblock body %}
