{% extends 'config/index.html.twig' %}

{% block body %}
	<h1>Редактирование настроек почты (каждого письма по умолчанию)</h1>

	{{- form_start(form) -}}
		{{- form_widget(form) -}}
		
		<twig:grinway:btn autofocus="autofocus" class="text-bg-success">Сохранить</twig:grinway:btn>
	{{- form_end(form) -}}
{% endblock %}