{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<h1>{{ ea.dashboardTitle }}</h1>
	
	<h6>{{ ea.templatePath('flash_messages') }}</h6>
	
	<ul>
		<li><a href="{{- ea_url().unsetAll.setController('App\\Controller\\Admin\\AppEasyAdminCommentCrudController').setAction('index') -}}">Comments</a></li>
	</ul>
{% endblock %}