{% extends 'base.html.twig' %}

{% block body %}
	
	{{ dump(form) }}
	<div class="container">
		{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
			{{ form_errors(form) }}
			<twig:grinway:btn autofocus="autofocus" class="btn-outline-success" type="submit"></twig:grinway:btn>
		{{ form_end(form, { render_rest: true }) }}
	</div>
	
{% endblock body %}