<turbo-stream action="remove" target="no-messages-yet"></turbo-stream>

<turbo-stream action="prepend" targets=".messages">
	<template>
		<div class="message p-1 my-1 m-0 border rounded">
			{{ message }}
		</div>
	</template>
</turbo-stream>

{#
<turbo-stream action="replace" targets='form[id="main-live-chat"]'>
	<template>
		{{ form(empty_form) }}
	</template>
</turbo-stream>

<turbo-stream action="append" targets='form[id="main-live-chat"]'>
	<template>
		<twig:grinway:btn class="btn-large btn-outline-primary">
			Отправить
		</twig:grinway:btn>
	</template>
</turbo-stream>
#}