/* Usage
<div class="app-card">
	<div class="app-card-img">
		<img
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcKvuIzY4qqsDGIu7gllRbPUQiY-GY_hyNSg&s"
			class="ratio ratio-4x3"
			alt="Карточка"
		>
	</div>
	<div class="app-card-title app-card-item lead">
		<p class="p-0 m-0">
			Lorem ipsum dolor sit.
		</p>
	</div>
	<div class="app-card-desc app-card-item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur id dolorem explicabo totam amet!
	</div>
	<div class="app-card-footer app-card-item">
		<div class="btn btn-lg btn-primary stretched-link">Кнопка</div>
	</div>
</div>
*/

$appCardColor: transparent !default;
$appCardColorIsOn: 0;
$appCardRadius: 0.5rem;

.app-card {
	position: relative;
	background-color: $gray-100;
	max-width: f(20rem);
	border-radius: $appCardRadius;

	&-item {
		padding: {
			left: 1rem;
			bottom: 1rem;
		}
	}
	&-img {	
		background-color: tint-color($appCardColor, $appCardColorIsOn * 30%);
		
		img {
			border-radius: $appCardRadius $appCardRadius 0 0;
		}
	}
	&-title {
		padding: {
			top: 1rem;
		}
		background-color: shade-color($appCardColor, $appCardColorIsOn * 30%);
	}
	&-desc {
		padding: {
			right: 1rem;
		}
		background-color: tint-color($appCardColor, $appCardColorIsOn * 30%);
	}
	&-footer {
		padding: {
			bottom: 1rem;
		}
		background-color: shade-color($appCardColor, $appCardColorIsOn * 30%);
	}
}