<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{- app_text_logo -}}{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">

        {% block metas %}
            <meta name="turbo-prefetch" content="false">
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block menu %}
        <twig:menu></twig:menu>
    {% endblock %}
    <div class="container overflow-clip">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
