{% extends 'base.html.twig' %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block title %}PostController{% endblock %}

{% block body %}
	<h1>List of all items</h1>
	
	<turbo-frame id="app_post_all_items">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
			<li>10</li>
		</ul>
	</turbo-frame>
{% endblock %}
