<thead>
	<tr>
		<th>Id</th>
		<th>Year</th>
		<th>Name</th>
		<th>actions</th>
	</tr>
</thead>
<tbody id="machines">
{% for machine in machines %}
	{{ include('machine/_machine.html.twig') }}
{% else %}
	<tr>
		<td colspan="4">no records found</td>
	</tr>
{% endfor %}
</tbody>