{% extends 'base.html.twig' %}

{% block title %}Machine index{% endblock %}

{% block body %}
    <h1>Machine index</h1>

    <table class="table all-items"
		{{ turbo_stream_listen('app_machine') }}
	>
        {{ include('machine/_index.html.twig') }}
    </table>

    <a href="{{ path('app_machine_new') }}">Create new</a>
{% endblock %}
