{%- if "prod" != app.environment -%}
	<div class="mb-4">
		{% block debug_info %}
			<div class="badge text-bg-success">
				Request locale: {{ app.request.locale }}
			</div>
		{% endblock %}			
	</div>
{%- endif -%}