<div class="">
	{% for product in products %}
		<div class="container">
			<div class="raw">
				<div class="col-12 w-100">
					<div class="">product.id: {{ product.id }}</div>
					<div class="">product.name: {{ product.name }}</div>
					<div class="">product.description: {{ product.description }}</div>
				</div>
			</div>
		</div>
		<br>
	{% endfor %}
</div>