{# TODO: theme -> grinway--theme #}
{# Usage:
	<twig:theme
		class="container"
		label:class="p-1"
		checkbox:class="mt-2"
	/>
#}

{% props
	checkboxId = 'app-switch-theme',
%}

{% set innerThemes = {
	name: 'dark',
	html: '<i class="bi bi-calendar2-check"></i> Тёмная тема',
} %}

<div
	{{ attributes.defaults({
		'data-controller': 'theme',
	}) }}
>
	{% for idx, theme in [ innerThemes ] %}
		{% set indexedCheckboxId = checkboxId~'-'~idx %}
		
		<div class="form-check form-switch">
			<label
				{{ attributes.nested('label').defaults({
					for: indexedCheckboxId,
					class: 'form-check-label user-select-none',
				}) }}
			>
				{{ theme.html|default('')|raw }}
			</label>
			<input
				{{ attributes.nested('checkbox').defaults({
					id: indexedCheckboxId,
					class: 'form-check-input',
					type: 'checkbox',
					'data-action': '
						input->theme#theme
					',
					
					'data-theme-target': 'checkbox',
					'data-theme-class-param': theme.name|default(''),
				}) }}
			>
		</div>
	{% endfor %}
</div>