/* ###> useTransition ### */
.fade-enter-active {
	transition: opacity 200ms ease-out;
}
.fade-enter-from {
	opacity: 0;
}
.fade-enter-to {
	opacity: 1;
}

.fade-leave-active {
	transition: opacity 200ms ease-out;
}
.fade-leave-from {
	opacity: 1;
}
.fade-leave-to {
	opacity: 0;
}

/* ### */

.rotate-enter-active {
	transition: all 200ms ease-out;
}
.rotate-enter-from {
	opacity: 0;
	transform: rotate(0.25turn) scale(2, 1);
}
.rotate-enter-to {
	opacity: 1;
	transform: rotate(0deg) scale(1, 1);
}

.rotate-leave-active {
	transition: all 200ms ease-out;
}
.rotate-leave-from {
	opacity: 1;
	transform: rotate(0turn) scale(1, 1);
}
.rotate-leave-to {
	opacity: 0;
	transform: rotate(-0.25turn) scale(2, 1);
}

/* ### */

/* ###< useTransition ### */